*{
    box-sizing: border-box;
	font-family: 'Varela Round', sans-serif;
}
body {
    min-height: 100vh; 
    overflow-x: hidden;
}

.containter{
    background-color: rgb(148, 148, 148);
}
.overlay {
  z-index: -11;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background:rgb(255, 255, 255);
}

#iaCeles{
    color: #33cabb;	
}

.login-card {
  border: 0;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  overflow: hidden; 
}

/* imagen cama */
.login-card-img {
    border-radius: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.login-card .card-body {
    padding: 85px 60px 60px; 
}

@media (max-width: 422px) {
    .login-card .card-body {
        padding: 35px 24px; } 
    }
.login-card-description {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 28px; 
}
.login-card form {
    max-width: 326px; 
}
.login-card .form-control {
    border: 1px solid #d5dae2;
    padding: 15px 25px;
    margin-bottom: 20px;
    min-height: 45px;
    font-size: 13px;
    line-height: 15;
    font-weight: normal; 
}
.login-card .form-control::-webkit-input-placeholder {
    color: #919aa3; 
}
.login-card .form-control::-moz-placeholder {
      color: #919aa3; 
 }
.login-card .form-control:-ms-input-placeholder {
      color: #919aa3; 
}
.login-card .form-control::-ms-input-placeholder {
      color: #919aa3; 
}
.login-card .form-control::placeholder {
      color: #919aa3; 
}
.login-card .login-btn {
    padding: 13px 20px 12px;
    background-color: #000;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px; 
}
.login-card .login-btn:hover {
      border: 1px solid #000;
      background-color: transparent;
      color: #000; 
}
.login-card .forgot-password-link {
    font-size: 14px;
    color: #919aa3;
    margin-bottom: 12px; 
}
.login-card-footer-text {
    font-size: 16px;
    color: #0d2366;
    margin-bottom: 60px; 
}
@media (max-width: 767px) {
    .login-card-footer-text {
        margin-bottom: 24px; }
}
.login-card-footer-nav a {
    font-size: 14px;
    color: #919aa3; 
}

.btn-primary {
  background: #09C6AB;
  color: #fff;
  border: 2px solid #09C6AB !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #0ab8a0 !important;
  border-color: #03423a !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #09C6AB;
  border: 2px solid #09C6AB;
}
