*{
    box-sizing: border-box;
	font-family: 'Varela Round', sans-serif;
}

.cardCont{
    border-radius: 17px;
    border: 1px solid cadetblue;   
    padding: 10px; 
}

@media (max-width: 772px) {
    .card{
        margin-bottom: 1.2rem; 
        margin-left: 1rem;
        justify-content: center;
        align-items: center;} 
    }